body {
    margin:0;
    padding:0;
    box-sizing: border-box;
    background-color: var(--light-grayish-blue);
}

.card p, .card div {
    font-size: var(--font-size);
}

/* Grid */
.container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: 100px;
}

.card {
    padding:20px;
    border-radius: 10px;
    margin: 15px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    filter: drop-shadow(0px 0px 3px rgb(218, 216, 216));
}

.container .card:first-child {
    grid-column: 1/3;
    grid-row: 1;
}

.container :nth-child(3) {
    grid-column: 4;
    grid-row: 1/3;
}

.container :nth-child(5){
    grid-column: 2/4;
}


/* avatar image and name, etc */
.image-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.image-container > img {
    border-radius: 50%;
    width: 30px;
    border:2px solid rgba(255, 255, 255, 0.315);
    margin-right: 15px;
}

.light-gray {
    color:var(--light-gray);
}


/* Testimonial quotes */
.quote::before{
    content:'\201c'
}

.quote::after {
    content:'\201d';
}


/* colors */
.violet-pallete {
    color: white;
    background-color: var(--violet);
}

.grayish-blue-pallete{
    color: white;
    background-color: var(--dark-grayish-blue);
}

.light-pallete {
    color:var(--dark-grayish-blue);
    background-color: whitesmoke;
}

.dark-blue-pallete {
    color:white;
    background-color: var(--dark-blackish-blue);
}

.card p, .card .account-type {
    color:var(--light-gray);
}

/* making the cards with light colors have slightly darker texts */
.card.light-pallete p, .card.light-pallete .account-type {
    color:var(--dark-gray);
}

/* class to add an image of quotes to the background of a card */
.bg-quotes {
    background-image: url('images/bg-pattern-quotation.svg');
    background-repeat: no-repeat;
    background-position: top 0 right 20%;
    background-size:18%;
}

